body {
    text-align: center;
    /* background-image: url(Digital\ Data\ of\ Network\ Technology.gif); */
}
input{
    width: 70%;
    height: 70px;
    outline: none;
    background-color:rgb(246, 244, 244);
    opacity: 50%;
    color: rgb(124, 22, 225);
    font-size: xx-large;
    font-weight:500;
}
button{
    border: none;
    background-color: gray;
    color: white;
    border-radius: 2px;
    padding: 10px;
    gap: 15px;
    height: 40px;
    margin: 3px;
    width: 70px;
    box-shadow: 2px 2px rgb(240, 209, 228);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
button:active{
    background-color: rgb(23, 23, 24);
    color: white;
    font-weight: bold ;
    transform:rotateX('angle')
}
.Backspace{
    width: 85px;
}
.capslock{
    width: 80px;
}
.space{
    width: 50%;
}
h1{
    font-family:Georgia, 'Times New Roman', Times, serif ;
    font-size: 100px;
}
.show{
    text-transform: uppercase;
}
.firstrow{
    display: flex;
    justify-content: center;
}
.secondrow{
    display: flex;
    justify-content: center;
}
.thirdrow{
    display: flex;
    justify-content: center;
}
.fourthrow{
    display: flex;
    justify-content: center;
}
.fifthrow{
    display: flex;
    justify-content: center;
}